
<!DOCTYPE html>
<html>
	<head>
		<title>Shopping List</title>
	</head>
	<body>
		<h1> Shopping List</h1>
		<form action="/create" method="POST">
			<label for="name">What Item to Get?</label><br>
			<input type="text" name="itemName"><br>
			<input type="submit" value="Add to Grocery List" />
		</form>

		<table style="width:80%">
			<tr>
				<th>Index</th>
				<th>Item</th>
			</tr>
			{{range $i,$e := .shoppingList}}
		<tr>
			<td>{{$i}}</td>
			<td>{{$e}}</td>
			<td><a href="/delete/{{$i}}">Delete</a></td>
			<td><a href="/edit">Edit</a></td>
		</tr>
			{{end}}
		</table>


	</body>
</html>